* {
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    
  
    align-items: center;
    background-color: rgb(148, 197, 227);
    color: white;
    padding: 25px;
  
  }
  
  .Header-icon {
    width: 100px;
    height: 100px;
   
  }
  
  nav {
    margin-left: auto;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  
  nav ul li a {
      color: white;
      font-size: 36px;
      text-decoration: none;
      
  }
  
  nav ul li:not(:last-child) {
      margin-right: 20px;
  }
  
  nav ul li a:hover,
  nav ul li a:focus {
      color: rgb(255, 89, 6)
  }
  
  .hamburger {
      display: none;
      flex-direction: column;
      cursor: pointer;
      margin-left: auto;
  }
  
  .hamburger span {
      display: block;
      width: 35px;
      height: 5px;
      background-color: white;
  }
  
  .hamburger span:not(:last-child){
      margin-bottom: 7px;
  }
  nav ul.open {
      display: flex;
  }
  
  
main {
  display: flex;


  background-image: url(mountain-bg.png) ;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 100px); 
}

  footer{
    padding-left: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
      /* width: 100%; */
      background-color: rgb(148, 197, 227);
    }
    
    .odkazy{
      list-style-type: none;
      font-size: 30px;
    }
    a {
      color: white;
      text-decoration: none;
    }

    
    .Konec{
      height: 60px;
      background-color: rgb(41 96 126);
      text-align: center;
    }
    .Konec-text{
      position: relative;
      top: 30%;
    
      font-size: 30px;
      color: white;
    }
   
.Hory{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    

}
.Hora1{

    width: 300px;
    
    overflow:visible;
}
.Hora-img{
    /* padding: 0 30px 0 30px; */
    width: 300px;
    height: 300px;

    border-radius: 50%;
}
.Hora-img:focus,
.Hora-img:hover{
  animation-name: zoom;
  animation-duration: 1.5s;
  animation-timing-function: ease;

  animation-fill-mode: forwards;
}

@keyframes zoom {
  0%{

  }
  100%{
    scale: 1.1;
  }
}

.Hora-content{
  text-align: center;
  padding: 10px;
}


@media (max-width: 1024px) {
  body{
    display: flex;
    flex-direction: column;
  }
  .hamburger{
      display: flex;
  }

  .list {
      flex-direction: column;
      display: none;
      position: absolute;
      top: 90px;
      right: 1px;
      background-color: rgb(148, 197, 227);
      width: 200px;
      padding-left: 20px;
      border-radius: 10px;
  }

  nav ul li:not(:last-child) {
    margin-bottom: 20px;
}

.Hora1{
    width: 200px;
}
 .Hora-img{
  width: 200px;
  height: 200px;

  border-radius: 50%;
}
.Hora-content{
  text-align: center;
  padding: 1px;
} 
}




 @media (max-width: 768px) {
  body{
    display: flex;
    flex-direction: column;
  }

 

nav ul li:not(:last-child) {
  margin-bottom: 20px;
}
.Hora1{
    width: 150px;
}

 .Hora-img{
  width: 150px;
  height: 150px;

  border-radius: 50%;
}
.Hora-content{
  text-align: center;
  padding: 1px;
} 

} 


@media (max-width: 320px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .Header-icon {
    width: 60px;
    height: 60px;
  }

  .hamburger {
    display: flex;
   position: relative;
   bottom: 30px;
  }

  .list {
      flex-direction: column;
      display: none;
      position: absolute;
      top: 20px;
      right: 1px;
      background-color: rgb(148, 197, 227);
      width: 200px;
      padding-left: 20px;
      border-radius: 10px;
  }


  nav ul li a {
    font-size: 20px;
  }
    nav ul li:not(:last-child) {
    margin-bottom: 20px;
}

  main {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .Hory {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .Hora1 {
    width: 90%;
    margin-bottom: 20px;
  }

  .Hora-img {
    width: 200px;
    height: 200px;

    position: relative;
    left: 20px;
  }

  .hora-tema {
    font-size: 20px;
  }

  .hora-odstavec {
    font-size: 14px;
    text-align: justify;
    padding: 0 10px;
  }

  footer {
    padding: 20px;
  }

  .odkazy {
    font-size: 20px;
    padding-left: 0;
    text-align: center;
  }

  .Konec-text {
    font-size: 16px;
    top: 50%;
  }
}
